**/*.pyc
**/__pycache__
/NeuralTransducerErrors/*
!/NeuralTransducerErrors
/SegmentationsSplits/*.trn
/SegmentationsSplits/*.dev
/SegmentationsSplits/*.tst
/SegmentationsSplits/*.total
/SharedTaskData/*out
/SharedTaskData/*errors
/CounterSorterOutput/**
