**/*.pyc
**/__pycache__
/NeuralTransducerFormatted/*
!/NeuralTransducerFormatted/.gitkeep
/SegmentationsSplits/*.trn
/SegmentationsSplits/*.dev
/SegmentationsSplits/*.tst
/SegmentationsSplits/*.out
/SegmentationsSplits/*.total
/SharedTaskData/*out
/SharedTaskData/*errors
/CounterSorterOutput/**
lemma_pages
wiktionary_en_all_nopic_2024-01.zim
tests.ipynb